.content h2 {
    font-size: 1rem; 
    font-weight: bold; 
    margin: 1rem 0; 
    text-transform: uppercase; 
    letter-spacing: 0.1rem;
    border-bottom: 0.2rem solid #855f4a; 
    padding-bottom: 0.5rem; 
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0,0.2);
}

.content h2 a {
    color:#855f49;
    text-decoration: underline;
}

.dogs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
}

.dogs .dog {
    background-color: #f3f3f3;
    box-shadow: 0.063rem 0.063rem 0.063rem 0.063rem #855f49;
    margin: 0.625rem;
    padding: 0.625rem;
    transition: transform 0.3s;
}

.dogs .dog:hover {
    transform: scale(1.02);
}

.dog img {
    width: 12.5rem;
    height: 17.188rem;
}

.pagination button {
    margin: 0 0.313rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #d4c2b4;
    cursor: pointer;
    border-radius: 0.625rem;
    color: #333;
}

.pagination button.active {
    background-color: #855f4a;
    color: #fff;
}

.pagination button:disabled {
    background-color: #666;
    color: #fff;
    cursor: not-allowed;
}

.dog .venus-icon {
    color: #ff69b4;
}

.dog .mars-icon {
    color: #4169e1;
}

.searchBar {
    display: block;
    margin: 1rem auto;
    padding: 0.5rem;
    width: 25rem;
    border: 0.063rem solid #d4c2b4;
    border-radius: 0.5rem;
}

.noResults {
    width: 50rem;
    margin: 0 auto;
}

.noResults p {
    margin: 1rem;
    font-size: 1.2rem;
    color: #333;
}

.adoptBtn {
    background-color: #855f4a; 
    color: #fff; 
    border: none; 
    border-radius: 0.25rem; 
    padding: 0.625rem 1.25rem;
    cursor: pointer; 
    transition: background-color 0.3s;
}

.adoptBtn:hover {
    background-color: #d4c2b4; 
}


@media (max-width: 720px) {
    .dogs {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 480px) {
    .dogs {
        grid-template-columns: 1fr;
    }
}