.content p a {
    color:#666;
    text-decoration: underline;
}

.dog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
}

.dog div {
    background-color: #e4e1e1;
    margin: 0.625rem;
    padding: 0.625rem;
}

.dog p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.dog img {
    width: 12.5rem;
    height: 17.188rem;
}

.pagination button {
    margin: 0 5px;
    padding: 8px 16px;
    border: none;
    background-color: #e4e1e1;
    cursor: pointer;
}

.pagination button.active {
    background-color: #343a40;
    color: #fff;
    font-weight: bold;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
