.content p a {
    color:#666;
    text-decoration: underline;
}

.dog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
}

.dog div {
    background-color: #f3f3f3;
    box-shadow: 0.063rem 0.063rem 0.063rem 0.063rem #855f49;
    margin: 0.625rem;
    padding: 0.625rem;
    transition: transform 0.3s;
}

.dog div:hover {
    transform: scale(1.05);
}

.dog img {
    width: 12.5rem;
    height: 17.188rem;
}

.pagination button {
    margin: 0 0.313rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #e4e1e1;
    cursor: pointer;
    border-radius: 0.625rem;

}

.pagination button.active {
    background-color: #343a40;
    color: #fff;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.dog .venus-icon {
    color: #ff69b4;
}

.dog .mars-icon {
    color: #4169e1;
}