.content {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.content h2 {
    font-size: 1rem; 
    font-weight: bold; 
    margin: 1rem 0; 
    text-transform: uppercase; 
    letter-spacing: 0.1rem;
    border-bottom: 0.2rem solid #855f4a; 
    padding-bottom: 0.5rem; 
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0,0.2);
}

.waysHelping {
    margin-bottom: 2rem;
}

.waysHelping li {
    border: 1px solid #d4c2b4;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    padding: 0.625rem;
    margin: 0.625rem;
    font-size: 1.2rem;
    color: #666;
    cursor: pointer;
    text-align: left;
}

.waysHelping li:hover {
    background-color: #f3f3f3;
    border-color: #855f4a;
}

.content li p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 0.625rem;
    font-size: 1rem;
    color: #666;
}

@media (max-width: 720px) {
    .waysHelping li {
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    .waysHelping li {
        font-size: 0.6rem;
    }
}