.contactos {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.formulario form {
    display: flex;
    flex-direction: column;
    margin-left: 1.25rem;
}

.formulario textarea {
    height: 16rem;
}

.formulario input,
.formulario textarea,
.formulario button {
    margin-bottom: 0.625rem;
    padding: 0.625rem;
    font-size: 1rem;
}

.formulario p {
    margin-bottom: 0.625rem;
}