.footer {
    position: relative;
    width: 100%;
    background: #343a40;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 0.625rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
}

.footerAddress {
    color: #fff;
}

.footerAddress .icon {
    width: 1.875rem;
}

.footerAddress div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerAddress .icon {
    font-size: 1.5rem;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.footerSocial .icon {
    font-size: 3rem;
    padding: 0.625rem;
}

.footerSocial .icon:hover {
    transform: scale(1.1);
}