.navbar {
    display: flex;
    justify-content: center;
    background-color: #343a40;
}

.navbar li {
    padding: 1.25rem;
}

.navbar a {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    padding: 1.125rem 1.563rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar a:hover {
    background-color: #495057;
    text-decoration: none;
    border-radius: 0.625rem;
}

.hamburgerBar {
    display: none;
    background-color: #343a40;
}

.hamburger {
    display: none;
    margin: 0 auto;
    background-color: #343a40;
    font-size: 2rem;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

@media (max-width: 720px) {
    .hamburgerBar {
        display: block;
    }

    .hamburger {
        display: block;
        font-size: 2rem;
    }

    .navbar {
        display: none;
        flex-direction: column;
    }

    .navbar.active {
        display: block;
    }

    .navbar li {
        padding: 0.25rem;
    }

    .navbar a {
        display: block;
        padding: 0.125rem 0.625rem;
    }
}

@media (max-width: 480px) {    
    .hamburgerBar {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .navbar {
        display: none;
        flex-direction: column;
    }

    .navbar.active {
        display: block;
    }

    .navbar li {
        padding: 0.25rem;
    }

    .navbar a {
        display: block;
        padding: 0.125rem 0.625rem;
    }
}
