.navbar {
    display: flex;
    justify-content: center;
    background-color: #343a40;
    margin-bottom: 1.25rem;
}

.navbar li {
    padding: 1.25rem;
}

.navbar a {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #ffffff;
    padding: 1.125rem 1.563rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar a:hover {
    background-color: #495057;
    text-decoration: none;
    border-radius: 0.625rem;
}