.aboutUs .wrapper {
    display: flex;
}

.wrapperRight {
    text-align: right;
    margin-right: 0.938rem;
    align-content: center;
}

.wrapperLeft {
    text-align: left;
    margin-left: 0.938rem;
    align-content: center;
}

.aboutUs img {
    width: 12.5rem;
    border-radius: 10% 20% 30% 40%;
    transition: transform 0.3s ease-in-out;
}

.aboutUs img:hover {
    transform: scale(1.1);
}

h1 {
    display: none;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: #666;
}

p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.12rem;
    color: #444;
    line-height: 1.5;
}