.banner img {
    width: 100%;
}

.aboutUs h1 {
    display: none;
}

.aboutUs h2 {
    font-size: 25px;
    color: #343a40;
}

.aboutUs p {
    font-size: 18px;
    margin: 20px;
    text-align: center;
}