.aboutUs {
    max-width: 800px;
    margin: 0 auto;
}

.aboutUs .wrapper {
    display: flex;
}

.wrapperRight {
    text-align: right;
    margin-right: 15px;
    align-content: center;
}

.wrapperLeft {
    text-align: left;
    margin-left: 15px;
    align-content: center;
}

.aboutUs img {
    width: 200px;
    border-radius: 10% 30% 50% 70%;
}

.aboutUs img:hover {
    transform: scale(1.1);
}

h1 {
    display: none;
}

h2 {
    font-size: 24px;
    color: #666;
}

p {
    font-size: 18px;
    color: #444;
    line-height: 1.5;
}